<template>
  <div>
    <div class="library-container">
      <div class="content">
        <div class="book-management-content">
          <div class="heading">
            <div>
              <button
                @click="$bvModal.show('addBook')"
                class="btn btn-lg"
                data-target="#addBook">
                <img src="../../assets/images/addpatron.png" />Add Books
              </button>
            </div>
            <div class="col-auto">
              <input type="text" name=""  placeholder=" Search" />
            </div>
            <!-- Add Book -->
            <b-modal id="addBook" hide-header hide-footer>
              <div>
                <h3>Add Books</h3>
                <div class="modal-body">
                  <form class="align-items-center" @submit.prevent="CreateBook">
                    <div class="form-group d-flex align-items-left  ml-5 mr-5">
                      <p class="ml-4 mt-2">Name</p>
                      <input 
                        type="text" 
                        class="form-control ml-5 form-control-sm" 
                        v-model="book.name"
                      />
                    </div>
                    <div
                      class="form-group d-flex text-align-left justify-content-between ml-5 mr-5"
                    >
                      <p class="ml-4 mt-2">Author</p>
                      <input 
                        type="text" 
                        class="form-control ml-5 form-control-sm" 
                        v-model="book.author"
                      />
                    </div>
                    <div
                      class="form-group d-flex align-items-left justify-content-between ml-5 mr-5"
                    >
                      <p class="ml-4 mt-2">Copies</p>
                      <input 
                        type="text" 
                        class="form-control ml-5 form-control-sm"
                        v-model="book.copies"
                      />
                    </div>
                    <div 
                      class="form-group d-flex align-items-center justify-content-between mb-5 ml-5 mr-5"
                    >
                      <p class="ml-4 mt-2">Category</p>
                      <div id="dropdown mb-5 ml-5 mr-5">
                        <b-form-select v-model="book.category_id" class="mb-3">
                          <template #first>
                            <b-form-select-option :value="null" disabled>
                              -- Please select an option--
                            </b-form-select-option>
                          </template>
                          <b-form-select-option 
                            :value="category.id"
                            v-for="category in categories"
                            :key="category.id">
                            {{ category.category }}
                          </b-form-select-option>
                        </b-form-select>
                      </div>
                    </div>
                    <div class=" d-flex align-items-center justify-content-center">
                      <b-button 
                        class="btn white ml-5 mr-4" type="submit">ADD BOOK
                      </b-button>
                      <b-button 
                        class="btn-white ml-5 mr-4" 
                        @click="$bvModal.hide('addBook')">CLOSE
                      </b-button>
                    </div>
                  </form>
                </div>
              </div>
            </b-modal>

            <!-- Update Book -->
            <b-modal id="updateBook" hide-header hide-footer>
              <div>
                <h3>Update Books</h3>
                <div class="modal-body">
                  <form class="align-items-center" @submit.prevent="UpdateBook">
                    <div class="form-group d-flex align-items-left  ml-5 mr-5">
                      <p class="ml-4 mt-2">Name</p>
                      <input
                        type="text"
                        class="form-control ml-5 form-control-sm"
                        v-model="book.name"
                      />
                    </div>
                    <div
                      class="form-group d-flex text-align-left justify-content-between ml-5 mr-5"
                    >
                      <p class="ml-4 mt-2">Author</p>
                      <input
                        type="text"
                        class="form-control ml-5 form-control-sm"
                        v-model="book.author"
                      />
                    </div>
                    <div
                      class="form-group d-flex align-items-left justify-content-between ml-5 mr-5"
                    >
                      <p class="ml-4 mt-2">Copies</p>
                      <input
                        type="text"
                        class="form-control ml-5 form-control-sm"
                        v-model="book.copies"
                      />
                    </div>
                    <div
                      class="form-group d-flex align-items-center justify-content-between mb-5 ml-5 mr-5"
                    >
                      <p class="ml-4 mt-2">Category</p>
                      <div id="dropdown mb-5 ml-5 mr-5">
                        <b-form-select v-model="book.category_id" class="mb-3">

                          <template #first>
                            <b-form-select-option :value="null" disabled>
                              -- Please select an option--
                            </b-form-select-option>
                          </template>
                          <b-form-select-option
                            :value="category.id"
                            v-for="category in categories"
                            :key="category.id">
                            {{ category.category }}
                          </b-form-select-option>
                        </b-form-select>
                      </div>
                    </div>
                    <div
                      class=" d-flex align-items-center justify-content-center"
                    >
                      <b-button 
                        class="btn white ml-5 mr-4" type="submit">UPDATE BOOK
                      </b-button>
                      <b-button
                        class="btn-white ml-5 mr-4"
                        @click="$bvModal.hide('updateBook')">CLOSE
                      </b-button>
                    </div>
                  </form>
                </div>
              </div>
            </b-modal>

            <!-- Delete Book --> 
            <b-modal id="deletebook" hide-header hide-footer>
              <div>
                <h5 class="modal-title" style="text-transform: uppercase;">
                  Confirmation<i class="fas fa-exclamation"></i>
                </h5>
                <div
                  class="modal-body d-flex align-items-center justify-content-center flex-column"
                >
                  <span>Do you want to delete this data?</span>
                  <div
                    class=" d-flex align-items-center justify-content-end mt-5"
                  >
                    <button 
                      type="button"
                      class="btn btn-danger"
                      v-on:click.prevent="DeleteBook">Yes
                    </button>
                    <button 
                      type="button" 
                      data-dismiss="modal" 
                      class="btn btn-secondary ml-5 mr-4"
                      @click="$bvModal.hide('deletebook')">Cancel
                    </button>
                  </div>
                </div>
              </div>
            </b-modal>

            <!-- Borrow Modal -->
            <b-modal id="borrowbook" hide-header hide-footer>
              <div>
                <h3>Borrow Books</h3>
                <div class="modal-body">
                  <form class="align-items-center" @submit.prevent="BorrowBook">
                    <div
                      class="form-group d-flex align-items-center justify-content-between mb-5 ml-5 mr-5"
                    >
                      <p class="ml-4 mt-2">Patron</p>
                      <div id="dropdown mb-5 ml-5 mr-5">
                        <b-form-select v-model="borrowed_returned.patron_id" class="mb-3">
                          <template #first>
                            <b-form-select-option :value="0">
                              -- Please select an option--
                            </b-form-select-option>
                          </template>
                          <b-form-select-option
                            :value="patron.id"
                            v-for="patron in patrons"
                            :key="patron.id">
                            {{ patron | fullName }}
                          </b-form-select-option>
                        </b-form-select>
                      </div>
                    </div>
                    <div
                      class="form-group d-flex align-items-left justify-content-between ml-5 mr-5"
                    >
                      <p class="ml-4 mt-2">Copies</p>
                      <input 
                        type="text" 
                        class="form-control ml-5 form-control-sm" 
                        v-model="borrowed_returned.copies"/>
                    </div>
                    <div
                      class=" d-flex align-items-center justify-content-center"
                    >
                      <b-button 
                        class="btn white ml-5 mr-4" 
                        type="submit">BORROW BOOK
                      </b-button>
                      <b-button 
                        class="btn-white ml-5 mr-4"
                        @click="$bvModal.hide('borrowbook')">CLOSE
                      </b-button>
                    </div>
                  </form>
                </div>
              </div>
            </b-modal>

            <!-- Return Modal -->
            <b-modal id="returnbook" hide-header hide-footer>
              <div>
                <h3>Return Books</h3>
                <div class="modal-body">
                  <form class="align-items-center" @submit.prevent="ReturnBook">
                    <div
                      class="form-group d-flex align-items-center justify-content-between mb-5 ml-5 mr-5"
                    >
                      <p class="ml-4 mt-2">Patron</p>
                      <div id="dropdown mb-5 ml-5 mr-5">
                        <b-form-select
                          v-model="borrowed_returned.patron_id"
                          class="mb-3">
                          <template #first>
                            <b-form-select-option :value="0">
                              -- Please select an option--
                            </b-form-select-option>
                          </template>
                          <b-form-select-option
                            :value="borrowed.patron.id"
                            v-for="borrowed in borrowedbooks"
                            :key="borrowed.patron.id">
                            {{ borrowed.patron | fullName }}
                            {{ `-Total: ${borrowed.copies}` }}
                          </b-form-select-option>
                        </b-form-select>
                      </div>
                    </div>
                    <div
                      class="form-group d-flex align-items-left justify-content-between ml-5 mr-5"
                    >
                      <p class="ml-4 mt-2">Copies</p>
                      <input
                        type="text"
                        class="form-control ml-5 form-control-sm"
                        v-model="borrowed_returned.copies"
                      />
                    </div>
                    <div
                      class=" d-flex align-items-center justify-content-center"
                    >
                      <b-button 
                        class="btn white ml-5 mr-4" type="submit">RETURN BOOK
                      </b-button>
                      <b-button
                        class="btn-white ml-5 mr-4"
                        @click="$bvModal.hide('returnbook')">CLOSE
                      </b-button>
                    </div>
                  </form>
                </div>
              </div>
            </b-modal>

            <b-modal id="deleteBook" hide-header hide-footer>
              <div>
                <h5 class="modal-title" style="text-transform: uppercase;">
                  Confirmation<i class="fas fa-exclamation"></i>
                </h5>
                <div
                  class="modal-body d-flex align-items-center justify-content-center flex-column"
                >
                  <span>Do you want to delete this data?</span>
                  <div
                    class=" d-flex align-items-center justify-content-end mt-5"
                  >
                    <button 
                      type="button" 
                      class="btn btn-danger"
                      v-on:click.prevent="DeleteBook">Yes
                    </button>
                    <button 
                      type="button" 
                      data-dismiss="modal" 
                      class="btn btn-secondary ml-5 mr-4" 
                      @click="$bvModal.hide('deletebook')">Cancel
                    </button>
                  </div>
                </div>
              </div>
            </b-modal>
          </div>

          <!--------Book Table----->
          <div class="book-list">
            <table class="table table-hover w-75">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Author</th>
                  <th>Category</th>
                  <th>Copies Available</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="book in books" :key="book.id">
                  <td>
                    <div class="action-container">
                      <div>
                        <button class="btn" v-on:click="showUpdate(book)">
                          <img src="../../assets/images/edit.png"
                            class="mr-1"
                            height="20"/>Edit
                        </button>
                        <button v-on:click="showDelete(book.id)" class="btn">
                          <img src="../../assets/images/delete.png"
                            class="mr-2"
                            height="25"/>Delete
                        </button>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p>{{ book.name }}</p>
                  </td>
                  <td>
                    <p>{{ book.author }}</p>
                  </td>
                  <td>
                    <p>{{ book.category.category }}</p>
                  </td>
                  <td>
                    <p>{{ book.copies }}</p>
                  </td>
                  <td>
                    <div class="action-container">
                      <div>
                        <button class="btn" v-on:click="showBorrow(book.id)">
                          <img src="../../assets/images/borrow.png"
                            class="mr-1"
                            height="20"/>Borrow
                        </button>
                        <button class="btn" v-on:click="showReturn(book.id)">
                          <img src="../../assets/images/returne.png"
                            class="mr-1"
                            height="20"/>Return
                        </button>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import toastr from "toastr";
export default {
  data() {
    return {
      search: "",
      book: {
        name: "",
        author: "",
        copies: "",
        category_id: "",
      },
      borrowed_returned: {
        book_id: "",
        copies: "",
        patron_id: "",
      },
      id: "",
    };
  },
  computed: {
    categories() {
      return this.$store.getters.getCategories;
    },
    patrons() {
      return this.$store.getters.getPatrons;
    },
    books() {
      return this.$store.getters.getBooks;
    },
    borrowedbooks() {
      let borrowedbooks = this.$store.getters.getBorrowedBooks;
      return borrowedbooks.filter((borrowed) => {
        return borrowed.book_id === this.borrowed_returned.book_id;
      });
    },
  },
  methods: {
    showUpdate(book) {
      this.book = { ...book };
      this.id = book.id;
      this.$bvModal.show("updateBook");
    },
    showDelete(id) {
      this.id = id;
      this.$bvModal.show("deletebook");
    },
    async showBorrow(id) {
      await this.$store.dispatch("fetchPatrons");
      this.borrowed_returned.book_id = id;
      this.$bvModal.show("borrowbook");
    },
    showReturn(id) {
      this.borrowed_returned.book_id = id;
      this.$bvModal.show("returnbook");
    },
    async CreateBook() {
      if (!this.book.name) 
        return toastr.warning("Book name is required.");
      if (!this.book.author) 
        return toastr.warning("Book author is required.");
      if (!this.book.copies) {
        return toastr.warning("Book copies is required.");
      } else {
        if (isNaN(this.book.copies)) {
          return toastr.warning("Copies must be numeric.");
        }
       if (!this.book.category_id) return toastr.warning("Category is required");
      }

      const response = await this.$store.dispatch("CreateBook", this.book);

      if (response.status == 200) {
        toastr.success(response.data.message, "Book inserted successfully.");
        this.$bvModal.hide("addBook");
        await this.$store.dispatch("fetchBooks");
      } else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          toastr.warning(errors[i][0]);
        }
        return;
      }
    },
    async UpdateBook() {
      if (!this.book.name) 
        return toastr.warning("Book name is required.");
      if (!this.book.author)
        return toastr.warning("Book author is required.");
      if (!this.book.copies) {
        return toastr.warning("Book copies is required.");
      } else {
        if (isNaN(this.book.copies)) {
          return toastr.warning("Copies must be numeric.");
        }
      if (!this.book.category_id) return toastr.warning("Category is required");
      }

      const response = await this.$store.dispatch("UpdateBook", {id: this.id, book: this.book, });
    
      if (response.status == 200) {
        toastr.success(response.data.message, "Updated successfully.");
        this.$bvModal.hide("updateBook");
        await this.$store.dispatch("fetchBooks");
      }  else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          toastr.warning(errors[i][0]);
        }
        return;
      }
    },
    async DeleteBook() {
      const response = await this.$store.dispatch("DeleteBook", this.id);
      if (response.status == 200) {
        toastr.success(response.data.message, "Deleted Successfully.");
        this.$bvModal.hide("deletebook");
        await this.$store.dispatch("fetchBooks");
      } else {
        toastr.error("Something wrong. Try again later.");
      }
    },
    async BorrowBook() {
     if (!this.borrowed_returned.patron_id) return toastr.warning("Patron is required");
      if (!this.borrowed_returned.copies) {
        return toastr.warning("Copies is required.");
      } else {
        if (isNaN(this.borrowed_returned.copies))
          return toastr.warning("Copies must be numeric.");
      }

      const response = await this.$store.dispatch("BorrowBook", this.borrowed_returned);
       
      if (response.status == 200) {
        toastr.success(response.data.message, "Borrowed successfully.");
        this.$bvModal.hide("borrowbook");
        await this.$store.dispatch("fetchBooks");
        await this.$store.dispatch("fetchBorrowedBooks");
       } else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          toastr.warning(errors[i][0]);
        }
        return;
      }

    },
    async ReturnBook() {
      if (!this.borrowed_returned.patron_id) return toastr.warning("Patron is required");
      if (!this.borrowed_returned.copies) {
        return toastr.warning("Copies is required");
      } else {
        if (isNaN(this.borrowed_returned.copies))
          return toastr.warning("Copies must numeric");
      }
      const response = await this.$store.dispatch("ReturnBook",this.borrowed_returned);

      if (response.status == 200) {
        toastr.success(response.data.message, "Returned successfully.");
        this.$bvModal.hide("returnbook");
        await this.$store.dispatch("fetchBooks");
        await this.$store.dispatch("fetchBorrowedBooks");
      } else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          toastr.warning(errors[i][0]);
        }
      }
    },
    clearData() {
      this.book = {
        name: "",
        author: "",
        copies: "",
        category_id: "",
      };
      this.borrowed_returned = {
        book_id: "",
        copies: "",
        patron_id: "",
      };
      this.id = 0;
    },
  },
  filters: {
    fullName(patron) {
      return `${patron.first_name} ${patron.last_name}`;
    },
  },
  async mounted() {
    document.title = "Library System | Book Management";
    await this.$store.dispatch("fetchPatrons");
    await this.$store.dispatch("fetchCategories");
    await this.$store.dispatch("fetchBooks");
    await this.$store.dispatch("fetchBorrowedBooks");
    await this.$root.$on("bv::modal::hide", () => {
      this.clearData();
    });

  }
};
</script>