<template>
    <div>
      <div class="content">
          <div class="dashboard-content">
              <div class="borrowed-returned-chart">
                Borrowed and Returned Books
                  <canvas id="barChart" height="200"></canvas>
              </div>
              <div class="popular-book-genre-chart">
                Popular Book Genre
                  <canvas id="pieChart" height="180"></canvas>
              </div>
          </div>
      </div>
    </div>
</template>

<script>
import Chart from 'chart.js';

export default{
  mounted: function() {
    document.title = "Library System | Dashboard"

    var ctx1 = document.getElementById("barChart").getContext("2d");
    new Chart(ctx1, {
      type: "bar",
      data:{
       labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [{
                label: "Borrowed",
                backgroundColor: "rgba(39, 58, 72, 0.4)",
                borderColor: "rgba(255, 0, 0, 0.5)",
                borderWidth: 2,
                data: [10, 20, 30, 10, 100, 50, 10],
            },
            {
                label: "Returned",
                backgroundColor: "rgba(39, 58, 72, 0.4)",
                borderColor: "rgba(69, 182, 254, 0.8)",
                borderWidth: 2,
                data: [40, 20, 10, 5, 70, 25, 30],
          },
        ],
      },
       options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
    });
    var ctx2 = document.getElementById("pieChart").getContext("2d");
    new Chart(ctx2, {
      type: "doughnut",
      data:{
         labels: ["Romance", "Mystery", "Fiction", "Fantasy", ],
        datasets: [{
            data: [5, 2, 4, 6],
            backgroundColor: [
                "rgba(255, 1, 1, 0.7)",
                "rgba(255, 245, 0, 0.7)",
                "rgba(0, 193, 43, 0.7)",
                "rgba(0, 133, 255, 0.7)",
            ],
          },
        ],
      },   
 
    });
  }
}
</script> 
