<template>
  <div>
    <div class="library-container">
      <div class="content">
        <div class="patron-management-content">
          <div class="heading">
            <div>
              <button 
                class="btn btn-lg"
                @click="$bvModal.show('addPatron')">
                <img src="../../assets/images/addpatron.png" />Add Patron
              </button>
            </div>
            <div class="col-auto">
              <input type="text" name="" id="search" placeholder="Search"/>
            </div>
            <!-------------Add Patron----------->
            <b-modal id="addPatron" hide-header hide-footer>
              <div>
                <h3>Add Patron</h3>
                <div class="modal-body">
                  <form class="align-items-center" @submit.prevent="createPatron">
                    <div class="form-group d-flex align-items-left  ml-4 mr-4">
                      <p>Firstname</p>
                      <input 
                        class="form-control ml-5 form-control-sm"
                        type="text" 
                        id="firstname" 
                        v-model="patron.first_name"/>
                    </div>
                    <div 
                      class="form-group d-flex text-align-left justify-content-between ml-4 mr-4"
                    >
                      <p>Middlename</p>
                      <input 
                        class="form-control ml-5 form-control-sm"
                        type="text" 
                        id="middlename" 
                        v-model="patron.middle_name"/>
                    </div>
                    <div 
                      class="form-group d-flex align-items-left justify-content-between ml-4 mr-4"
                    >
                      <p>Lastname</p>
                      <input 
                        class="form-control ml-5 form-control-sm"
                        type="text" 
                        id="lastname" 
                        v-model="patron.last_name"/>
                    </div>
                    <div 
                      class="form-group d-flex align-items-left justify-content-between ml-4 mr-4"
                    >
                      <p>Email</p>
                      <input 
                        class="form-control ml-5 form-control-sm"
                        type="text" 
                        id="email"  
                        v-model="patron.email"/>
                    </div>
                    <div
                      class=" d-flex align-items-center justify-content-center"
                    >
                      <b-button 
                        class="btn white ml-5 mr-4" 
                        type="submit">ADD PATRON
                      </b-button>
                      <b-button
                        class="btn-white ml-5 mr-4"
                        @click="$bvModal.hide('addPatron')"
                        >CLOSE</b-button
                      >
                    </div>
                  </form>
                </div>
              </div>
            </b-modal>
            <!-------------Update Patron----------->
            <b-modal id="updatepatron" hide-header hide-footer>
              <div>
                <h3>Update Patron</h3>
                <div class="modal-body">
                  <form class="align-items-center" @submit.prevent="updatePatron">
                    <div class="form-group d-flex align-items-left  ml-4 mr-4">
                      <p>Firstname</p>
                      <input 
                        class="form-control ml-5 form-control-sm"
                        type="text" 
                        id="firstname" 
                        v-model="patron.first_name"/>
                    </div>
                    <div 
                      class="form-group d-flex text-align-left justify-content-between ml-4 mr-4"
                    >
                      <p>Middlename</p>
                      <input 
                        class="form-control ml-5 form-control-sm"
                        type="text" 
                        id="middlename" 
                        v-model="patron.middle_name"/>
                    </div>
                    <div 
                      class="form-group d-flex align-items-left justify-content-between ml-4 mr-4"
                    >
                      <p>Lastname</p>
                      <input 
                        class="form-control ml-5 form-control-sm"
                        type="text" 
                        id="lastname" 
                        v-model="patron.last_name"/>
                    </div>
                    <div 
                      class="form-group d-flex align-items-left justify-content-between ml-4 mr-4"
                      >
                      <p>Email</p>
                      <input 
                        class="form-control ml-5 form-control-sm"
                        type="text" 
                        id="email"  
                        v-model="patron.email"/>
                    </div>
                    <div
                      class=" d-flex align-items-center justify-content-center"
                    >
                      <b-button 
                        class="btn white ml-5 mr-4" 
                        type="submit">UPDATE PATRON
                      </b-button
                      >
                      <b-button
                        class="btn-white ml-5 mr-4"
                        @click="$bvModal.hide('updatepatron')"
                        >CLOSE</b-button
                      >
                    </div>
                  </form>
                </div>
              </div>
            </b-modal>
            <!-------------Delete Patron----------->
            <b-modal id="deletepatron" hide-header hide-footer>
              <div>
                <h5 class="modal-title" style="text-transform: uppercase;">
                  Confirmation<i class="fas fa-exclamation"></i>
                </h5>
                <div
                  class="modal-body d-flex align-ite ms-center justify-content-center flex-column"
                >
                  <span>Do you want to delete this data?</span>
                  <div
                    class=" d-flex align-items-center justify-content-end mt-5"
                  >
                    <button 
                      type="button" 
                      class="btn btn-danger"
                      v-on:click="deletePatron">Yes
                    </button>
                    <button 
                      type="button" 
                      data-dismiss="modal" 
                      class="btn btn-secondary ml-5 mr-4"
                      @click="$bvModal.hide('deletepatron')">Cancel
                    </button>
                  </div>
                </div>
              </div>
            </b-modal>
          </div>
          <!------------Patron Table---------->
          <div class="patron-list">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Date Registered</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="patron in filteredPatrons" :key="patron.id">
                  <td>
                    <div class="action-container">
                      <div>
                        <button 
                          class="btn" v-on:click="showUpdate(patron)">
                          <img src="../../assets/images/edit.png" class="mr-" height="20" />Edit
                        </button>
                        <button 
                          class="btn" v-on:click="showDelete(patron.id)">
                          <img src="../../assets/images/delete.png" class="mr-2" height="25"/>Delete
                        </button>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p>{{ patron | fullName }}</p>
                  </td>
                  <td>
                    <p>{{ patron.email }}</p>
                  </td>
                  <td>
                    <p>{{ patron.created_at | registeredDate }}</p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import moment from "moment";
import toastr from "toastr";
export default {
  data() {
    return {
      patron: {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      },
      id: "",
      search: "",
    };
  },
  computed: {
    patrons() {
      return this.$store.getters.getPatrons;
    },
    filteredPatrons() {
      return this.patrons.filter((patron) => {
        return (
          patron.first_name.match(this.search) ||
          patron.middle_name.match(this.search) ||
          patron.last_name.match(this.search) ||
          patron.email.match(this.search)
        );
      });
    },
  },
  methods: {
    showUpdate(patron) {
      this.$bvModal.show("updatepatron");
      this.patron.first_name = patron.first_name;
      this.patron.middle_name = patron.middle_name;
      this.patron.last_name = patron.last_name;
      this.patron.email = patron.email;
      this.id = patron.id;
    },
    showDelete(id) {
      this.$bvModal.show("deletepatron");
      this.id = id;
    },
    async createPatron() {
      if (!this.patron.first_name)
        return toastr.warning("Firstname is required");
      if (!this.patron.middle_name)
        return toastr.warning("Middlename is required");
      if (!this.patron.last_name) 
        return toastr.warning("Lastname is required");
      if (!this.patron.email) {
        return toastr.warning("Email is required");
      } else {
        if (!this.isValidEmail(this.patron.email)) {
          return toastr.warning("Email must be valid");
        }
      }
      const response = await this.$store.dispatch("createPatron", this.patron);
  
      if (response.status == 200) {
        toastr.success(response.data.message, "Inserted successfully.");
        this.$bvModal.hide("addPatron");
        await this.$store.dispatch("fetchPatrons");
      } else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          toastr.warning(errors[i][0]);
        }
        return;
      }
    },
    async updatePatron() {
      if (!this.patron.first_name)
        return toastr.warning("Firstname is required");
      if (!this.patron.middle_name)
        return toastr.warning("Middlename is required");
      if (!this.patron.last_name) 
        return toastr.warning("Lastname is required");
      if (!this.patron.email) {
        return toastr.warning("Email is required");
      } else {
        if (!this.isValidEmail(this.patron.email)) {
          return toastr.warning("Email must be valid");
        }
      }

      const response = await this.$store.dispatch("updatePatron", { id: this.id, patron: this.patron});
      console.log(response)
      if (response.status == 200) {
        toastr.success(response.data.message, "Updated successfully.");
        this.$bvModal.hide("updatepatron");
        await this.$store.dispatch("fetchPatrons");
      } else if (response.status == 422) {
        var errors = response.data.errors;
        for (var i in errors) {
          toastr.warning(errors[i][0]);
          return;
        }
      }
    },
    async deletePatron() {
      const response = await this.$store.dispatch("deletePatron", this.id);
      if (response.status == 200) {
        toastr.success(response.data.message, "Deleted successfully.");
        this.$bvModal.hide("deletepatron");
        await this.$store.dispatch("fetchPatrons");
      }
    },
    isValidEmail(email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    clearData() {
      this.patron = {
        first_name: "",
        middle_name: "",
        last_name: "",
        email: "",
      };
      this.id = "";
    },
  },
  filters: {
    fullName(patron) {
      return `${patron.first_name} ${patron.middle_name} ${patron.last_name}`;
    },
    registeredDate(date) {
      return moment(date).format("LL");
    },
  },
  mounted() {
    document.title = "Library System | Patron Management";
    this.$store.dispatch("fetchPatrons");
    this.$root.$on("bv::modal::hide", () => {
      this.clearData();
    });
  },
};
</script>

