* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: absolute;
    width: 100%;
    height: 15%;
    display: flex;
    background: rgba(14, 36, 51, 0.9);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    width: 150px;
    height: 100px;
    left: 50px;
    top: -20px;
}

.navbar .navbar-brand {
    color: white;
    font-family: Georgia;
    font-size: 30px;
    align-items: center;
    letter-spacing: 0.3em;
    margin-left: 75%;
    text-transform: uppercase;
}

.navbar button {
    border-color: white;
    text-align: right;
    width: 150px;
    height: 33px;
}

.btn-sm {
    font-family: Georgia;
    color: white;
    align-items: center;
    letter-spacing: 0.5em;
    width: 100px;
    height: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.btn-sm img {
    position: absolute;
    width: 36px;
    height: 33px;
    right: 12%;
    top: 32%;
}

.navbar button:active {
    background-color: rgba(69, 182, 254, 0.8);
    color: white;
}

.library-container {
    position: relative;
    display: flex;
}

.sidebar-nav {
    position: relative;
    width: 25vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    background: rgba(14, 36, 51, 0.9);
}

.sidebar-nav a {
    color: white;
    font-family: Georgia;
    font-size: 17px;
    display: flex;
    align-items: center;
    padding: 20px;
    text-transform: uppercase;
}

.sidebar-nav a:hover {
    background: #45B6FE;
    color: white;
}

.sidebar-nav .navbar-text {
    margin-left: 15px;
}

.content .dashboard-content {
    margin-top: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.borrowed-returned-chart,
.popular-book-genre-chart {
    width: 450px;
    height: 350px;
    border: 3px solid #273A48;
    margin: 10px;
    padding: 15px;
    text-align: center;
    font-family: Georgia;
}

.borrowed-returned-chart canvas,
.popular-book-genre-chart canvas {
    margin-top: 15px;
}

.content .book-management-content .heading,
.content .patron-management-content .heading {
    margin-top: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    width: 75vw;
}

.content .book-management-content .heading button,
.content .patron-management-content .heading button {
    font-size: 13px;
    margin-left: 5px;
    height: 40px;
    background: rgba(14, 36, 51, 0.9);
    font-family: Georgia;
    text-transform: uppercase;
    color: white;
}

.content .book-management-content .heading input,
.content .patron-management-content .heading input {
    width: 200px;
    border: 2px rgba(14, 36, 51, 0.9)solid;
    font-family: Georgia;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.8em;
    margin-top: 10px;
}

.book-list thead,
.patron-list thead {
    color: #fff;
    background: rgba(14, 36, 51, 0.9);
    font-family: Georgia;
}

.patron-list thead th,
.book-list thead th {
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.book-list tbody tr .action-container,
.patron-list tbody tr .action-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-list tbody tr .action-container div button,
.patron-list tbody tr .action-container div button {
    font-size: 13px;
    width: 100px;
    margin: 4px;
    display: flex;
    height: 30px;
    align-items: center;
    background-color: rgba(14, 36, 51, 0.9);
    color: white;
    font-family: Georgia;
}

.book-list tbody tr td,
.patron-list tbody tr td {
    padding: 5px;
    border-bottom: 1px black solid;
}

.patron-list tbody tr td p,
.book-list tbody tr td p {
    font-size: 15px;
    font-family: Georgia;
    margin-top: 25px;
    text-align: center;
}

.content .modal-content {
    background: rgba(39, 58, 72, 0.9);
    color: white;
    font-family: Georgia;
}