<template>
  <div id="app">
    <TopNavBar />
    <SideNavBar />
    <router-view />
  </div>
</template>

<script>
import TopNavBar from './components/navigations/TopNavBar.vue';
import SideNavBar from './components/navigations/SideNavBar.vue';
export default {
  components: {
    TopNavBar,
    SideNavBar,
  }
};
</script>