<template>
<div class="sidebar-nav"> 
    <a>
        <router-link to="/Dashboard" class="nav-link">
            <img class="dash" src='../../assets/images/dashboard.png'>
            <span class="navbar-text">Dashboard</span>
        </router-link>
    </a>
    
    
    <a>
        <router-link to="/PatronManagement" class="nav-link">
            <img class="patron" src='../../assets/images/patron.png'>
            <span class="navbar-text">Patron Management</span>
        </router-link>
    </a>
   
    
    <a>
        <router-link to="/BookManagement" class="nav-link">
            <img class="patron" src='../../assets/images/book.png'>
            <span class="navbar-text">Book Management</span>
        </router-link>
    </a>
    
    
    <a>
        <router-link to="/Settings" class="nav-link">
            <img class="patron" src='../../assets/images/settings.png'>
            <span class="navbar-text">Settings</span>
        </router-link>
    </a>
    
</div>
</template>
<script>
export default {
 }
</script>
