<template>
<nav class="navbar">
        <div class="logo-container ml-4">
            <img class="logo" src="../../assets/images/logo.png">
            <a class="navbar-brand" href="#"> Library System</a>
        </div>
        <button class="btn btn-sm mr-4 text-light">
            <img class="logout" src="../../assets/images/logout.png">Logout
        </button>
    </nav>
</template>
<script>
export default {
}
</script>
