    .navbar-brand img {
        height: 80px;
        padding-left: 10px;
    }
    
    .navbar-nav li a {
        font-family: 'ABeeZee';
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 6px;
        margin-right: 20px;
        transition: 0s ease;
        top: 5px;
        line-height: 45px;
    }
    
    .navbar-nav li a:hover {
        background-color: gray;
        ;
    }
    
    .img-home {
        width: 1298px;
        height: 800px;
        margin-top: -50px;
        position: relative;
        padding-right: 0 !important;
    }
    
    .welcome {
        position: absolute;
        width: 649px;
        height: 149px;
        left: 105px;
        top: 165px;
        font-family: 'Alegreya Sans SC';
        font-style: normal;
        font-weight: normal;
        font-size: 75px;
        line-height: 144px;
        color: #000000;
        letter-spacing: 0.08em;
        text-shadow: -4px -3px 2px white;
    }
    
    .to {
        position: absolute;
        width: 67.65px;
        height: 141.96px;
        left: 270px;
        top: 260px;
        font-family: 'Euphoria Script';
        font-style: normal;
        font-weight: normal;
        font-size: 65px;
        line-height: 116px;
        transform: matrix(0.75, -0.69, 0.50, 0.75, 0, 0);
        text-shadow: 4px 4px 4px white;
    }
    
    .dance {
        position: absolute;
        height: 125px;
        left: 420px;
        top: 630px;
        font-family: 'Alegreya Sans SC';
        font-style: normal;
        font-weight: normal;
        font-size: 80px;
        line-height: 144px;
        color: white;
    }
    
    .studio {
        position: absolute;
        height: 125px;
        left: 635px;
        top: 630px;
        font-family: 'Alegreya Sans SC';
        font-style: normal;
        font-weight: normal;
        font-size: 80px;
        line-height: 144px;
        color: black
    }
    
    .legacy {
        position: absolute;
        width: 664px;
        height: 118px;
        left: 90px;
        top: 425px;
        font-family: 'Fanwood Text';
        font-style: normal;
        font-weight: normal;
        font-size: 95px;
        line-height: 184px;
        letter-spacing: 0.05em;
        color: #000000;
        text-shadow: 4px -4px 2px white;
    }
    
    .icon-fb {
        top: 20px;
        position: absolute;
        right: 360px;
        filter: brightness(20%);
    }
    
    .icon-inst {
        top: 35px;
        position: absolute;
        right: 310px;
        filter: brightness(20%);
    }
    
    .icon-tw {
        top: 35px;
        position: absolute;
        right: 210px;
        filter: brightness(20%);
    }
    
    .icon-yt {
        top: -28px;
        position: absolute;
        right: 70px;
        filter: brightness(20%);
    }
    
    .img-rec {
        position: absolute;
        width: 450px;
        height: 100px;
        left: 430px;
        top: 550px;
    }
    
    .rectangle1 {
        position: absolute;
        width: 500px;
        height: 100px;
        margin-left: 385px;
        top: 893px;
        background: rgba(135, 134, 131, 0.6);
    }
    
    .offer {
        position: absolute;
        left: 38px;
        top: 15px;
        font-family: 'ABeeZee';
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        color: #000000;
    }
    
    .rec-side1 {
        position: absolute;
        width: 350px;
        height: 15px;
        left: 15px;
        top: 940px;
        background: rgba(10, 44, 28, 0.8);
        border-radius: 15px;
    }
    
    .rec-side2 {
        position: absolute;
        width: 350px;
        height: 15px;
        left: 895px;
        background: rgba(10, 44, 28, 0.8);
        border-radius: 15px;
    }
    
    .recta {
        position: absolute;
        width: 1300px;
        height: 800px;
        top: 1022px;
        background: rgba(135, 134, 131, 0.8);
    }
    
    .in-rec1 {
        position: absolute;
        width: 350px;
        height: 500px;
        left: 55px;
        top: 1150px;
        background: rgba(135, 134, 131, 0.5);
        opacity: 0.5;
    }
    
    .ballroom {
        position: absolute;
        width: 320px;
        height: 450px;
        left: 15px;
        bottom: 25px;
    }
    
    .text-ballroom {
        position: absolute;
        width: 272px;
        height: 75px;
        left: 45px;
        top: 45px;
        font-family: 'ABeeZee';
        font-style: normal;
        font-weight: normal;
        font-size: 45px;
        line-height: 71px;
        letter-spacing: 0.04em;
        color: black;
    }
    
    .in-rec2 {
        position: absolute;
        width: 350px;
        height: 630px;
        right: 455px;
        top: 1090px;
        background: rgba(135, 134, 131, 0.5);
        opacity: 0.5;
    }
    
    .lyrical {
        position: absolute;
        width: 320px;
        height: 550px;
        left: 15px;
        bottom: 40px;
    }
    
    .text-lyrical {
        position: absolute;
        width: 272px;
        height: 75px;
        left: 90px;
        top: 500px;
        font-family: 'ABeeZee';
        font-style: normal;
        font-weight: normal;
        font-size: 45px;
        line-height: 71px;
        letter-spacing: 0.04em;
        color: black;
    }
    
    .in-rec3 {
        position: absolute;
        width: 350px;
        height: 500px;
        right: 55px;
        top: 1150px;
        background: rgba(135, 134, 131, 0.5);
        opacity: 0.5;
    }
    
    .hiphop {
        position: absolute;
        width: 320px;
        height: 450px;
        left: 15px;
        bottom: 25px;
    }
    
    .text-hiphop {
        position: absolute;
        width: 272px;
        height: 75px;
        right: -14px;
        top: 45px;
        font-family: 'ABeeZee';
        font-style: normal;
        font-weight: normal;
        font-size: 45px;
        line-height: 71px;
        letter-spacing: 0.04em;
        color: black;
    }
    
    .dot {
        border-radius: 50%;
        top: 325%;
        left: 530px;
        height: 20px;
        width: 20px;
        background-color: white;
        display: inline-block;
        position: absolute;
    }
    
    .dot1 {
        top: 293%;
        left: 530px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        height: 18px;
        width: 18px;
    }
    
    .dot2 {
        top: 293%;
        left: 552px;
        background: rgba(11, 10, 10, 0.6);
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        height: 18px;
        width: 18px;
    }
    
    .dot3 {
        top: 293%;
        left: 574px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        height: 18px;
        width: 18px;
    }
    
    .dot4 {
        top: 293%;
        left: 597px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        height: 18px;
        width: 18px;
    }
    
    .dot5 {
        top: 293%;
        left: 620px;
        background-color: white;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        height: 18px;
        width: 18px;
    }
    
    .rectangle2 {
        position: absolute;
        width: 350px;
        height: 80px;
        left: 455px;
        top: 1850px;
        background: rgba(135, 134, 131, 0.6);
    }
    
    .about-us {
        position: absolute;
        top: 7px;
        left: 55px;
        font-family: 'ABeeZee';
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        color: #000000;
    }
    
    .rec-side3 {
        position: absolute;
        width: 400px;
        height: 15px;
        left: 30px;
        top: 1890px;
        background: rgba(10, 44, 28, 0.8);
        border-radius: 15px;
    }
    
    .rec-side4 {
        position: absolute;
        width: 400px;
        height: 15px;
        left: 800px;
        background: rgba(10, 44, 28, 0.8);
        border-radius: 15px;
    }
    
    .about-dance {
        width: 1298px;
        height: 700px;
        top: 1100px;
        position: absolute;
    }
    
    .text-about {
        position: absolute;
        left: 90px;
        top: 1200px;
        font-family: 'ABeeZee';
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        display: inline;
    }
    
    .text-about1 {
        text-align: right;
        position: absolute;
        right: 90px;
        top: 1450px;
        font-family: 'ABeeZee';
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        display: inline;
    }
    
    .text-about2 {
        text-align: left;
        position: absolute;
        left: 90px;
        top: 1650px;
        font-family: 'ABeeZee';
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        display: inline;
    }
    
    .contact {
        position: absolute;
        font-family: 'ABeeZee';
        font-weight: normal;
        font-size: 30px;
        line-height: 53px;
        color: #000000;
        top: 448%;
        left: 50px;
    }
    
    .icon-email {
        position: absolute;
        top: 458%;
        left: 75px;
    }
    
    .l-email {
        position: absolute;
        font-family: 'ABeeZee';
        font-weight: normal;
        font-size: 20px;
        top: 460%;
        left: 150px;
        line-height: 41px;
        display: flex;
        align-items: center;
    }
    
    .icon-phone {
        position: absolute;
        left: 75px;
        top: 470%;
    }
    
    .l-phone {
        position: absolute;
        font-family: 'ABeeZee';
        font-weight: normal;
        font-size: 20px;
        top: 472%;
        left: 150px;
        line-height: 41px;
        display: flex;
        align-items: center;
    }
    
    .location {
        position: absolute;
        font-family: 'ABeeZee';
        font-weight: normal;
        font-size: 30px;
        line-height: 53px;
        color: #000000;
        top: 448%;
        left: 450px;
    }
    
    .icon-location {
        position: absolute;
        left: 465px;
        top: 463%;
    }
    
    .l-location {
        position: absolute;
        font-family: 'ABeeZee';
        font-weight: normal;
        font-size: 20px;
        top: 465%;
        left: 520px;
        line-height: 41px;
        display: flex;
        align-items: center;
    }
    
    .follow-us {
        position: absolute;
        font-family: 'ABeeZee';
        font-weight: normal;
        font-size: 30px;
        line-height: 53px;
        color: #000000;
        top: 448%;
        left: 850px;
    }
    
    .fb {
        position: absolute;
        width: 9%;
        right: 300px;
        top: 458.5%;
    }
    
    .inst {
        position: absolute;
        width: 4%;
        right: 280px;
        top: 460%;
    }
    
    .tw {
        position: absolute;
        width: 4%;
        right: 225px;
        top: 460%;
    }
    
    .yt {
        position: absolute;
        width: 7%;
        right: 148px;
        top: 453.5%;
    }
    
    .l-follow {
        position: absolute;
        font-family: 'ABeeZee';
        font-weight: normal;
        font-size: 30px;
        line-height: 53px;
        top: 470%;
        right: 105px;
    }